body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* class define for 5 day data table */
td {
  background-color: #3788ff;
  color: white;
  border-radius: 22px;
  border: 10px solid white;
  width: 150px;
  padding: 15px 0;
}
